<div class="box">
    <div class="col mb-3">
        <h2><b>Create Account</b></h2>
    </div>
    <div class="col mb-3">
            <input type="email" class="form-control" name="email" placeholder="ENTER EMAIL*" autocomplete="off">
    </div>
    <div class="col mb-3">
        <input type="password" class="form-control" name="password" placeholder="ENTER PASSWORD*">
    </div>
    <div class="col mb-3">
        <input type="password" class="form-control" name="password" placeholder="CONFIRM PASSWORD*">
    </div>
    <div class="col mb-3">
        <button class="btn">CREATE &nbsp; &#11166;</button>
    </div>
    <div class="col mb-3">
        <button class="btn" (click)="onBack()">&#11164; &nbsp; BACK</button>
    </div>
</div> 